<%= simple_form_for(@rua) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :id_rua %>
    <%= f.input :nome %>
    <%= f.input :the_geom %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
