<h3>Listagem da inscrição raiz: <%=params[:insc_base]  %></h3>
<input type="hidden" id="insc_base" value="<%=params[:insc_base]%>"/>
<% if can? :update, User %>
<%= form_tag :method => 'get', :class => 'form-search', :id => 'mapas_search' do %>
  <%= text_field_tag :search, params[:search], :class => 'input-medium search-query', :id => 'input_search', :placeholder => 'Proprietário' %>
    <%= submit_tag "Consultar", :proprietario => nil, :class => 'btn btn-primary' %>
<% end %>
<% end %>

<table class="table table-bordered table-hover table-condensed">
  <thead>
  <tr>
    <th>Inscrição</th>
    <th>Proprietário</th>
    <th>Loteamento</th>
    <th>Tipo Obra</th>
    <th>Tipo Imóvel</th>
    <th>Situação</th>
    <th>Detalhes</th>
  </tr>
  </thead>
  <tbody>
    <% @fazendas.each do |fazenda| %>
      <tr>
        <td><%= fazenda.inscricao %></td>
        <td><%= fazenda.proprietario %></td>
        <td><%= fazenda.loteamento %></td>
        <td><%= fazenda.tipoobra %></td>
        <td><%= fazenda.tipoimovel %></td>
        <td><%= fazenda.situacao %></td>
        <td style="text-align: center;"><%= link_to '', mapas_detail_path(fazenda.id), :class => 'icon-search', :title => 'Visualizar', :id => 'showLote' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @fazendas, :renderer => BootstrapPagination::Rails, :class => 'pagination pagination-centered' %>