<h3>Listagem da inscrição raiz: <%=params[:insc_base]  %></h3>

<% if can? :update, User %>
<%= form_tag :method => 'get', :class => 'form-search', :id => 'mapas_search' do %>
  <%= text_field_tag :search, params[:search], :class => 'input-medium search-query' %>
    <%= submit_tag "Consultar", :proprietario => nil, :class => 'btn btn-primary' %>
<% end %>
<% end %>

<table class="table table-bordered table-hover table-condensed">
  <thead>
  <tr>
    <th>Inscrição</th>
    <th>Proprietário</th>
    <th>Loteamento</th>
    <th>Situação</th>
  </tr>
  </thead>
  <tbody>
    <% @fazendas.each do |fazenda| %>
      <tr>
        <td><%= fazenda.inscricao %></td>
        <td><%= fazenda.proprietario %></td>
        <td><%= fazenda.loteamento %></td>
        <td><%= fazenda.situacao %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @fazendas, :renderer => BootstrapPagination::Rails, :class => 'pagination pagination-centered' %>