<h1>Listing bairros</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Popmasc</th>
    <th>Popfem</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bairros.each do |bairro| %>
  <tr>
    <td><%= bairro.bairro %></td>
    <td><%= bairro.pop_masc %></td>
    <td><%= bairro.pop_fem %></td>
    <td><%= link_to 'Show', bairro %></td>
    <td><%= link_to 'Edit', edit_bairro_path(bairro) %></td>
    <td><%= link_to 'Destroy', bairro, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bairro', new_bairro_path %>
