<h4>Informações:</h4>
<div>
<%= render "bairros/detail" %>
</div>

<h4>Estatísticas no Bairro:</h4>
<div class="accordion" id="accordion2">
<input type="hidden" id="id_bairro" value="<%= @bairro[0].id %>" />


  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Logradouros (Total: <%= @ruas.size %> )
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= render "ruas/ruasBairro" %>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Saude  (Total: <%= @saudes.size %> )
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= render "saudes/saudes" %>

      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
        Educação  (Total: <%= @educacaos.size %> )
      </a>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= render "educacao/educacao" %>

      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
        Pontos de Ônibus  (Total: <%= @pontosOnibus.size %> )
      </a>
    </div>
    <div id="collapseFour" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= render "pontos_onibus/onibus" %>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
        Antenas Aldeia Digital  (Total: <%= @antenas.size %> )
      </a>
    </div>
    <div id="collapseFive" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= render "aldeia_digital/antenas" %>
      </div>
    </div>
  </div>

</div>